/bin
/sample.db
.DS_Store
.gitignore_global
/nbproject/private/
/build/
/nbproject
/JJDB.db
/build.xml
/config
/.classpath
/.project
/dist/
/jungle-jepps-nbeans/nbproject/private/
/jungle-jepps-nbeans/build/
/manifest.mf
/jungle-jepps-nbeans
/settings.properties.tx